@import "_settings";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Vesper+Libre:700&display=swap');

/************************************
    Base
************************************/
html {
    font-size: calc(0.94rem + 0.25 * (100vw - 80rem) / 40);
    font-size: -webkit-calc(94% + 0.25 * (100vw - 8000%) / 40);
}

body {
    font-family: $bodyFontFamily;
    font-weight: $normalFontWeight;
}

/************************************
    Typography
************************************/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headerFontFamily;
    font-weight: $boldFontWeight;
}

a {
    color: $linkColor;
    text-decoration: none;
}

p {
    line-height: 1.5;
}

h1 {
    @include fontSize(120px);

    line-height: .65;
}

h2 {
    @include fontSize(58px);

    line-height: 1.4;
}

h3 {
    @include fontSize(46px);

    line-height: 1.2;
}

h4 {
    @include fontSize(61px);
}

h5 {
    @include fontSize(32px);
}

h6 {
    @include fontSize(50px);
}

p {
    @include fontSize(24px);

    line-height: 1.4;

    @media only screen and (min-width: 769px) {
        @include fontSize(18px);
    }
}

small.small {
    @include fontSize(14px);

    &.small--tiny {
        @include fontSize(12px);
    }

    &.small--bold {
        font-weight: $boldFontWeight;
    }

    &.small--headline {
        font-family: $headerFontFamily;
        font-weight: $boldFontWeight;
    }
}

.button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background-color: transparent;

    &.button--primary {
        @include fontSize(24px);

        color: $beige;
        background-color: $orange;
        border-radius: 0;
        padding: 1.4rem 2.8rem;

        @media only screen and (min-width: 769px) {
            @include fontSize(16px);
        }
    }

    &.button--hamburger {

    }

    &.button--arrow {

    }
}


