@import "_settings";

.about-person {
    display: none;

    &.is-selected {
        display: block;
    }

    .about-person__name {
        margin-top: -2.5rem;
        margin-bottom: 2rem;
        position: absolute;
        margin-top: 0;
        top:-80px;
        left:calc(50% + 2.5vw);

        @media only screen and (min-width: 1024px) {
            // margin-bottom: 1rem;
            // position: absolute;
            // margin-top: 0;
            top:-70px;
            left:calc(50% + 1vw);
        }

        h5 {
            line-height: 1;
            position: relative;
            left:-70px;
        }

        p {
            color: $orange;
            margin-top: 0;
            line-height: 1.2;
        }
    }

    .about-person__info {
        position: relative;
        @include columnTextFlow();

        // margin-top: $verticalMargin / 2;

        margin-top: 110px;

        @media only screen and (min-width: 1024px) {
            margin-top: 52px;
            column-gap: 2vw;
        }
    }

    .about-person__image {
        // margin-bottom: $verticalMargin / 2;
        position: relative;
        top:-54px;
        margin-bottom: -40px;
        @media only screen and (min-width: 1024px) {
            top:-60px;
            margin-bottom: -45px;
        }
    }

    .about-person__paragraph {
        @media only screen and (min-width: 1024px) {
            @include fontSize(18px);
        }

        @media only screen and (min-width: 1440px) {
            @include fontSize(16px);
        }
    }
}
