@import "_settings";

.africa-map {
    display: none;

    &.is-selected {
        @include flexbox($flexFlow: column, $alignItems: flex-start);
    }

    position: relative;

    &:last-child {
        .africa-map__image {
            width: calc(1rem + 125vh);
            position: absolute;
            left: -123vw;
            top: calc(1rem - 36vh);
            margin: 0;

            @media only screen and (min-width: 768px) {
                left: -88vw;
            }

            @media only screen and (min-width: 1024px) {
                left: -53vw;
                top: calc(1rem - 45vh);
            }

            @media only screen and (min-width: 1440px) {
                width: 100%;
                left: -30%;
                top: calc(1rem - 37vh);
            }
        }
    }

    > * {
        @media only screen and (min-width: 1024px) {
            position: absolute;
        }
    }

    .africa-map__image {
        width: 82vw;
        margin: 0 auto;
        margin-top: calc(1rem + 1vh);
        order: 2;

        @media only screen and (min-width: 1024px) {
            width: 40vw;
            top: 0;
            left: 0;
        }

        @media only screen and (min-width: 1824px) {
            width: 50vw;
        }
    }

    .africa-map__headline {
        order: 1;
        z-index: 1;

        @media only screen and (min-width: 1024px) {
            top: -2vh;
            left: 35vw;
        }
    }

    .africa-map__subheadline {
        order: 3;
        position: absolute;
        left: 21vw;
        top: calc(1rem + 42vh);

        @media only screen and (min-width: 1024px) {
            left: 6vw;
            top: calc(1rem + 29vh);
        }

        @media only screen and (min-width: 1440px) {
            top: calc(1rem + 36vh);
        }
    }
}
