@import "_settings";

$carouselMaxHeight: 390px;

.exhibition {
    @include fullBackgroundSize($exhibitionBackgroundImageUrl, bottom center, $backgroundSize: contain);

    padding: 0;
    color: $beige;
    background-color: $black;

    @media only screen and (min-width: 768px) {
        padding-bottom: 20vh;
    }

    @media only screen and (min-width: 1024px) {
        @include flexbox($alignItems: flex-start, $justifyContent: flex-end);

        min-height: (1193 / 1440) * 100vw;
        background-size: 100%;
        // background-position: top left 40%;
        background-position: bottom left;
        padding: 0;
    }

    .exhibition__content {
        > *:not(.exhibition__carousel) {
            padding: 0 $outerMarginMobile;

            @media only screen and (min-width: 1024px) {
                padding: 0 $outerMargin 0 0;
            }
        }

        @media only screen and (min-width: 1024px) {
            @include flexbox($alignItems: flex-start, $justifyContent: flex-start, $flexFlow: row wrap);

            flex: 0 1 50%;
            padding-top: calc(1rem + 5vh);
            margin-bottom: calc(1rem + 10vh);
        }
    }

    .exhibition__headline {
        color: $orange;
        margin-bottom: -1.25rem;
        z-index: 1;
        position: relative;

        @media only screen and (min-width: 1024px) {
            @include fontSize(70px);

            margin-left: -$outerMargin;
        }
    }

    .exhibition__carousel {
        padding-left: $outerMarginMobile * 2;
        z-index: 0;

        @media only screen and (min-width: 1024px) {
            width: 100%;
            padding: 0;
        }
    }

    .exhibition__paragraph {
        margin-top: $verticalMargin * 2;
        margin-bottom: $verticalMargin;
    }

    .exhibition__info {
        @include flexbox($alignItems: center, $flexFlow: column );

        margin-left: 25vw;
        margin-bottom: $sectionVerticalMarginMobile;

        > div {
            margin-bottom: 2rem;

            > p {
                margin-bottom: 1rem;
            }
        }

        @media only screen and (min-width: 1024px) {
            @include flexbox($flexFlow: row wrap, $alignItems: flex-start, $justifyContent: space-between);

            margin: 0;
            padding: 0;
            width: 100%;

            > div {
                flex: 0 1 calc(50% - 1rem);
                margin-right: 1rem;
                margin-bottom: 0;

                &:last-child {
                    margin-right: 0;
                }

                > p {
                    @include fontSize(14px);

                    margin-bottom: .85rem;
                }
            }
        }
    }

    .exhibition__title {
        color: $orange;
        text-transform: uppercase;
        font-weight: $boldFontWeight;
    }
}
