@import "_settings";

.hero {
    @include fullBackgroundSize($heroBackgroundImageUrl, bottom center);

    background-color: $black;

    @media only screen and (min-width: 1024px) {
        min-height: 128vh;
        max-height: 1020px;
    }

    .hero__content {
        padding-top: calc(1rem + 20vh);

        @media only screen and (min-width: 1024px) {
            padding-top: calc(1rem + 5vh);
            max-width: 1152px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    .hero__headline {
        color: $beigeAlternate;

        span {
            color: $beige;
            margin-left: $h1OffsetMarginMobile;

            @media only screen and (min-width: 768px) {
                margin-left: 21vw;
            }

            @media only screen and (min-width: 1024px) {
                margin-left: $h1OffsetMarginTablet;
            }

            @media only screen and (min-width: 1440px) {
                margin-left: $h1OffsetMarginDesktop;
            }
        }
    }

    .hero__subheadline,
    .primary-button {
        @media only screen and (min-width: 768px) {
            margin-left: 21vw;
        }

        @media only screen and (min-width: 1024px) {
            margin-left: $h1OffsetMarginTablet;
        }

        @media only screen and (min-width: 1440px) {
            margin-left: $h1OffsetMarginDesktop;
        }
    }

    .hero__subheadline {
        @include fontSize(28px);

        width: 70%;
        color: $beige;
        margin-top: 2rem;
        line-height: 1.4;

        @media only screen and (min-width: 1024px) {
            width: 45%;
        }
    }

    a {
        margin-top: 2.75rem;

        @media only screen and (min-width: 1024px) {
            margin-top: 3.75rem;
            margin-left: 14vw;
        }
    }

    .hero__caption {
        @include fontSize(11px);

        color: $orange;
        position: absolute;
        bottom: 3rem;
        right: $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            right: $outerMargin;
        }
    }
}

