@import "_settings";

.instagram-feed {
    .instagram-feed__posts {
        @include flexbox($flexFlow: row wrap, $justifyContent: space-between, $alignItems: flex-start);
    }

    .instagram-feed__post {
        margin: 4px 0;
        flex: 0 1 calc(50% - 6px);
    }

    .instagram-feed__image {

    }

    .instagram-feed__caption {
        @include fontSize(20px);

        padding: 0 1rem 1rem 0;
        display: none;
    }
}
