@import "_settings";

$toggleImageWidth: 85px;

.language-toggle {
    @include transition;

    transform: translate3d(-$outerMarginMobile, 0, 0);

    @media only screen and (min-width: 1024px) {
        transform: translate3d(-$outerMargin, 0, 0);
    }

    .language-toggle__title {
        @include fontSize(21px);

        font-weight: $boldFontWeight;
        color: $beige;
        display: block;
        margin-bottom: $smallSpacing;
        text-transform: uppercase;
        text-align: center;

        @media only screen and (min-width: 1024px) {
            @include fontSize(16px);
        }
    }

    .language-toggle__image {
        max-width: $toggleImageWidth;

        @media only screen and (min-width: 1024px) {
            max-width: $toggleImageWidth * 1.2;
        }
    }
}
