@import "settings";

$smallPawIconWidth: 23px;
$slideWidth: 360px;
$slideHeight: 285px;
$slideHeightMobile: 116px;

.population {
    background-color: $black;
    padding: 0;

    .population__content {
        color: $beige;

        @media only screen and (min-width: 1024px) {
            padding-top: calc(1rem + 10vh);
        }
    }

    .population__africa-maps {
        position: relative;
        min-height: 62vh;
        padding: 0 $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            min-height: unset;
            padding: 0 $outerMargin;
        }

        @media only screen and (min-width: 1440px) {
            min-height: 52vh;
        }

        @media only screen and (min-width: 1824px) {
            min-height: 75vh;
        }
    }

    .population__slides {
        margin-top: 4rem;
        margin-left: $outerMarginMobile;
        position: relative;

        @media only screen and (min-width: 1024px) {
            margin: 0;
            position: absolute;
            right: 0;
            width: 40vw;
            top: 50vh;
        }
    }

    .population__slide-number-headline {
        @include flexbox($alignItems: flex-start);

        position: absolute;
        color: $orangeAlternate;
        top: -1rem;
        left: 0;
        line-height: .65;

        @media only screen and (min-width: 1024px) {
            flex-flow: column;
            top: -1.125rem;
            left: -2.125rem;
        }

        @media only screen and (min-width: 1440px) {
            top: -1.5rem;
            left: -2.5rem;
            line-height: .85;
        }

        > span {
            &:last-child {
                font-size: 45%;
                color: $orange;
            }

            &:not(:last-child) {
                display: none;

                &.is-selected {
                    display: block;
                }
            }
        }
    }
}
