@import "_settings";

.simba-ni {
    @include fullBackgroundSize($simbaNiBackgroundImageUrl, bottom center, $backgroundSize: contain);
    
    background-color: $black;
    color: $beige;

     @media only screen and (min-width: 1024px) {
        height:100vh;
        min-height: 1600px;
    }

    > div{
        @media only screen and (min-width: 1024px) {
            margin-top: 0;
        }
    }
    .simba-ni__heading{
        @media only screen and (min-width: 1024px) {
            margin-bottom: 66px;
        }
    }

    .simba-ni__headline {
        color: $beigeAlternate;

        span {
           margin-left: 15vw;
           color: $beige;

            @media only screen and (min-width: 768px) {
                margin-left: 6vw;
            }
        }
    }

    .simba-ni__subheadline {
        @include fontSize(32px);

        margin-top: $subheadlineVerticalMargin;
        margin-left: $h2OffsetMarginMobile;

        @media only screen and (min-width: 768px) {
            margin-left: 16vw;
        }

        @media only screen and (min-width: 1024px) {
            @include fontSize(24px);
            margin-left: $h2OffsetMargin;
       }

       @media only screen and (min-width: 1440px) {
            margin-top: 1.15rem;
       }
    }

    .simba-ni__columns {
        @media only screen and (min-width: 1024px) {
            @include flexbox($flexFlow: row wrap, $alignItems: flex-start);
        }
    }

    .simba-ni__video {
        margin-top: $verticalMargin;

        @media only screen and (min-width: 1024px) {
            margin-top: 2rem;
            order: 2;
            flex: 0 1 50%;
        }
    }

    .simba-ni__accordian-button {
        @media only screen and (min-width: 1024px) {
            order: 1;
            flex: 0 1 calc(50% - 2rem);
            margin-right: 2rem;
        }

        .accordian-button {
            @media only screen and (min-width: 1024px) {
                display: none;
            }
        }

        .accordian-button__toggle-section {
            @media only screen and (min-width: 1024px) {
                display: block;
            }
        }
    }

    .simba-ni__button-text {
        @include fontSize(24px);

        order: 1;
        margin: 0 auto;
    }

    .simba-ni__paragraph {
        @include columnTextFlow();

        margin: $verticalMargin auto ($verticalMargin * 2);
        height: 48vh;

        @media only screen and (min-width: 1024px) {
            order: 3;
            margin-top: 2rem;
        }
    }

    .simba-ni__about-people {
        @media only screen and (min-width: 1024px) {
            @include flexbox($flexFlow: row wrap, $justifyContent: flex-start);
        }
    }

    .simba-ni__title {
        display: none;

        @media only screen and (min-width: 1024px) {
            @include fontSize(16px);

            display: block;
            order: 2;
            font-weight: 700;
            text-transform: uppercase;
            color: $orange;
        }

        @media only screen and (min-width: 1440px) {
            @include fontSize(14px);
        }
    }

    .simba-ni__thumbnails {
        @include flexbox($flexFlow: row wrap, $justifyContent: flex-start);

        margin-top: $verticalMargin;

        @media only screen and (min-width: 1024px) {
            margin-top: 1rem;
            order: 3;
        }
    }

    .simba-ni__thumbnail {
        margin: 3px 3px 1px;
        flex: 0 1 calc(20% - 6px);

        @media only screen and (min-width: 1024px) {
            flex: 1;
        }

        button.is-selected {
            img {
               border: 1px solid $orange;
           }
        }
    }

    .simba-ni__people {
        margin-top: $verticalMargin;
        border-bottom: 1px solid $orange;
        padding-bottom: $verticalMargin;

        @media only screen and (min-width: 1024px) {
            order: 1;
            border: none;
            padding-bottom: 2rem;
        }
    }
}
