@import "_settings";

.unsung-heroes {
    background-color: $beige;
    padding: 0;

    @media only screen and (min-width: 1024px) {
        @include fullBackgroundSize($lionLifeBackgroundImageUrl, bottom -1px right, $backgroundSize: 100%);

        padding-bottom: 35vh;
    }

    @media only screen and (min-width: 1824px) {
        padding-bottom: 50vh;
    }

     > div{
        @media only screen and (min-width: 1024px) {
            margin-top: 0;
        }
    }

    .unsung-heroes__content {
        margin-bottom: 0;
    }

    .unsung-heroes__heading {
        margin-bottom: $verticalMargin;
        padding: 0 $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            padding: 0 $outerMargin;
            margin-bottom: 5rem;
        }

        .unsung-heroes__headline {
            color: $orange;
            line-height: 1;

            @media only screen and (min-width: 1024px) {
                width: 75%;
            }
        }

        .unsung-heroes__subheadline {
            @include fontSize(32px);

            color: $orange;
            margin-top: 1.25rem;
            margin-left: 0;

            @media only screen and (min-width: 1024px) {
                @include fontSize(24px);
                margin-left: $outerMargin;
            }
        }
    }

    .unsung-heroes__video {
        padding-left: $outerMarginMobile;
        padding-right: $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            padding-left: $outerMargin * 2;
            padding-right: $outerMargin * 2;
        }
    }

    .unsung-heroes__people {
        margin-top: -1rem;

        @media only screen and (min-width: 1024px) {
            margin-top: -2rem;
        }
    }

    .unsung-heroes__person {
        @include fullBackgroundSize($unsungHeroesPersonBackgroundImageUrl, center center);

        background-color: $orange;
        width: 80vw;
        padding: 2rem $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            margin: 0 $outerMargin;
            width: 30vw;
            padding: 3rem 2rem 1rem;
        }
    }

    .unsung-heroes__carousel {
        margin-top: $verticalMargin;
        padding-left: $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            margin-top: 2rem;
            padding: 0 $outerMargin;
        }
    }

    .unsung-heroes__copy {
        margin-top: $verticalMargin;
        padding: 0 $outerMarginMobile;

        @media only screen and (min-width: 1024px) {
            @include flexbox($alignItems: flex-start);

            padding: 0 $outerMargin 0 0;
            margin-top: 4rem;
        }

        .unsung-heroes__image {
            display: none;

            @media only screen and (min-width: 1024px) {
                display: block;
                width: auto;
                order: 1;
                -webkit-transform: scaleX(-1);
                transform: scaleX(-1) translateX($outerMargin);
            }

            @media only screen and (min-width: 1440px) {
                transform: scaleX(-1) translateX(0);
            }
        }

        .unsung-heroes__paragraph {
            flex: 1;

            p {
                padding-bottom: 1rem;
            }

            @media only screen and (min-width: 1024px) {
                padding: 0;
                order: 2;
            }

            @media only screen and (min-width: 1440px) {
                padding-left: $outerMargin;
            }
        }
    }
}
