@import "_settings";

.video-feature {
    background-color: $black;
    color: $beige;
    min-height: unset;

    .video-feature__content {

    }

    .video-feature__headline {

    }

    .video-feature__subheadline {
        @include fontSize(32px);

        margin-top: 1.15rem;
        margin-left: $h2OffsetMarginMobile;

        @media only screen and (min-width: 1024px) {
            @include fontSize(24px);

            margin-top: 1rem;
            margin-left: 11vw;
        }

        @media only screen and (min-width: 1440px) {
            margin-left: 9vw;
        }
    }

    .video-feature__row {
        @media only screen and (min-width: 1024px) {
            @include flexbox($alignItems: flex-start, $justifyContent: space-between);
        }
    }

    .video-feature__video {
        margin-top: $verticalMargin;

        @media only screen and (min-width: 1024px) {
            flex: 0 1 65%;
        }
    }

    .video-feature__paragraph {
        margin-top: $verticalMargin;

        @media only screen and (min-width: 1024px) {
            margin-left: 3vw;
            flex: 0 1 calc(35% - 3vw);
        }
    }
}
